.MicSetup-box {
    text-align: center;
    margin: auto;
}
.MicAccess-button {
    font-size: large;
    position: fixed;
    left: 25%;
    width: 50%;
    bottom: 5px;
    margin: 5px;
    padding: 5px;
    text-align: center;
    border-radius: 8px;
    background-color: palegreen;
}
