.RecorderControls-box {
    text-align: center;
    margin: auto;
}
.RecordingOn-button {
    background-color: red;
    color: white;
    margin: 5px;
    padding: 5px;
    text-align: center;
    border-radius: 8px;
}
.RecordingOff-button {
    background-color: green;
    color: white;
    margin: 5px;
    padding: 5px;
    text-align: center;
    border-radius: 8px;
}
.RecordingDisable-button {
    background-color: lightgrey;
    color: white;
    margin: 5px;
    padding: 5px;
    text-align: center;
    border-radius: 8px;
}
