.Stimulus-box {
    border-style: solid;
}

.Options-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.Selected-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: 'grey';
}

.Color-box {
    width: 100px;
    height: 100px;
    vertical-align: top;
    text-align: center;
}

.Picture-box {
    width: 200px;
    height: 200px;
    vertical-align: top;
    text-align: center;
}

.Word-box {
    width: 100px;
    height: 100px;
    vertical-align: top;
    text-align: center;
}

